@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 18px;
  background-color: #ddd;
}
.container {
  margin: auto;
  /* border: 3px rebeccapurple solid; */
  padding: 25px 25px 25px 25px;
  width: 900px;
}
a {
  margin-left: 20px;
}
p {
  margin-left: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-left: 20px;
  font-size: 25px;
  text-decoration: none;
  border-bottom: 1px green solid;
  display: table;
  line-height: 28px;
}
/* img */
.me {
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 2em;
  border-radius: 2%;
  box-shadow: 0 0 5px rgb(86, 39, 136);
  padding: 0.3em;
  margin-bottom: 2em;
}

a {
  margin-right: 2px;
}
/* TEXTAREA */

/* TABLE */

table {
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
}
thead {
  color: white;
  background-color: rgb(51, 160, 163);
}

td {
  background-color: rgb(107, 188, 191);
  vertical-align: middle;
  text-align: center;
  border-top: 2px solid #56433d;
  border-bottom: 2px solid #56433d;
  border-right: 2px solid #56433d;
  border-left: 2px solid #56433d;
}

/* div */
.cardholder {
  margin-bottom: 20px;
  margin-left: 30px;
}
.one {
  background-color: #f6f6dd;
}
.two {
  background-color: rgb(158, 230, 230);
}
.three {
  background-color: rgb(162, 247, 162);
}
.four {
  background-color: rgb(189, 199, 142);
}
.card {
  border: 1px solid black;
  border-radius: 5px;
  width: 900px;
  margin-bottom: 20px;
}
